<h1>Stupid coaching</h1>
<p><%= @question %>
   <br>
   -You
</p>
<p><%= @answer %>
   -Your coach
</p>
<br>
<div id="link-container">
  <a style="text-align:center;"><%= link_to'Ask a new question', ask_path %></a>
</div>
